<app-header></app-header>
<div class="div"></div>
<div id="top">
  <div class="wpb_wrapper">
    <h2 style="text-align: left" class="vc_custom_heading white">About Us</h2>
  </div>
</div>
<div class="container">
  <div id="ab" class="text-center">
    <div class="row">
      <div class="col-6">
        <h1 class="h">About Us</h1>
        <p class="aboutUs">
          Rishabh Software was founded in the year 2000 by Mr. & Mrs. Raju Shah
          with a simple thought of delivering exceptional value to global
          customers. From the start, the vision was clear – to empower
          businesses with world-class software solutions. They did this by
          tapping into local talent in their home state of Gujarat by building a
          platform for budding software developers to grow and nurture their
          careers.
        </p>
        <p class="aboutUs">
          At Rishabh, we not only provide your business with exceptional
          enterprise-grade applications but go above and beyond. With 1200+
          successful projects and a process-driven mindset, we’ve got your back.
          Our repeat clientele speaks volumes for our values and ethics in all
          our dealings – be it software development across web, mobile,
          analytics, cloud, or through our engineering and BPO services. We
          believe in doing the best for our clients because WE CARE.
        </p>
      </div>
      <div class="col-md-6">
        <img class="image" src="./../../../assets/aboutus.jpg" alt="About Us Image" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
