<app-adminheader></app-adminheader>
<div class="login-content">
  <div class="login-content-lt">
    <img src="../../assets/bg-sm.jpg" alt="Rishabh Software" />
  </div>
  <div class="login-content-rt">
    <div class="welcome-box">
      <h4>Welcome to the Admin Dashboard</h4>
      <p>Manage your tasks and monitor activities efficiently.</p>
    </div>
    <div class="login-box">
      <div  class="logo-wrapper">
        <img src="../../assets/logo.svg" alt="Rishabh Software" />
        <span>Meal Facility</span>
      </div>
      <h3 class="login-head">Hello Admin</h3>
      <p class="login-text">Welcome to your Meal Facility account.</p>
      <div class="btn-container">
        <button mat-raised-button color="primary" routerLink="/credit">
          Credit
        </button>
        <button mat-raised-button color="accent" routerLink="/scanner">QR Code Scanner</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
