<app-header></app-header>
<div id="top">
  <div class="wpb_wrapper">
    <h2 class="vc_custom_heading white">Privacy Policy</h2>
  </div>
</div>

<div class="container">
  <p>
    Rishabh Software Private Limited, the company that operates the Rishabhsoft
    website and platform, (collectively, the “Website”), is committed to
    protecting your privacy while providing you with a robust online experience.
  </p>
  <br />
  <p>
    This Privacy Policy including GDPR privacy as and when applicable,
    describes:
  </p>
  <br />
  <ul>
    <li>Why we collect personal information</li>
    <li>What personal information we collect and when it is collected</li>
    <li>When and with whom your information is shared</li>
    <li>Your choices regarding your personal information</li>
  </ul>
  <br />
  <p>
    By using this Website, you consent to the data practices described in this
    Privacy Policy as well as in our Terms of Use and Website Access Policy. We
    will post notices of all changes that materially affect the way in which
    your personally identifiable information may be used or shared in updates to
    our Privacy Policy. If you continue to use the Website after these notices
    of changes have been posted to the site, you hereby provide your consent to
    the changed practices.
  </p>
  <br />
  <p>
    If you have any questions about this Privacy Policy, please feel free to
    contact us through our Website Rishabh Software Plot 66, Beside Sigil India,
    Padra Road, Atladra, Vadodara 390012, Gujarat, India. Attn: Customer
    Service/Privacy
  </p>
  <strong>Information We Collect</strong>
  <br />
  <p>
    The information we learn from customers helps us not only fulfill orders and
    provide the requested services but also to personalize and continually
    improve our Website.
  </p>
  <br />
  <strong>Information You Give Us</strong>
  <br />
  <p>
    We receive and store any information you enter on our Website or give us in
    any other way (your “personal information”). The information we collect from
    you may include things like:
  </p>
  <ul>
    <li>Your name</li>
    <li>Your e-mail address</li>
    <li>Your phone number</li>
  </ul>
  <p>
    You agree that the personal information you provide to us is reliable for
    its intended use, and is accurate, complete, and current. You will notify us
    of any changes to the personal information you have provided to us.
  </p>
  <strong>Automatic Information</strong>
  <br />
  <p>
    Like many other websites, we also collect information through cookies and
    other automated means. Cookies are commonly used by websites to save data on
    your computer. The information we collect from cookies may include your IP
    address, browser and device characteristics, referring URLs, and a record of
    your interactions with our Website. We use cookies to create a more
    personalized experience on our Website. We will respect your choices
    relating to on-line tracking, whether you choose to reject individual
    cookies or set your web browser to reject cookies and other tracking
    technology. However, refusing a cookie may, in some cases, preclude you from
    using, or negatively impact the display or function of, the Service or
    certain areas or features of the Service. Application collects cookies and
    uses them as follows – Required cookies – Functionality cookies
  </p>
  <strong>Third Party Information</strong>
  <br />
  <p>
    We may receive information from third parties such as public demographic
    information to help analyze the use of our services and expand our offering.
    We will treat as sensitive any information received from a third party where
    the third party treats and identifies it as sensitive.
  </p>

  <strong>User Content</strong>
  <br />
  <p>
    To the extent that the GDPR is applicable to a visitor, we do not collect
    data categorized as sensitive personal by GDPR under Article 9, such as race
    or ethnic origin, biometric, medical, political opinions, religious or
    philosophical beliefs, or trade union membership.
  </p>
  <strong>Identity and contact details of the Data Processor</strong>
  <br />
  <p>
    To the extent that the GDPR is applicable to a visitor, Rishabhsoft is the
    Data Processor and is committed to protecting the rights of individuals in
    line with the new General Data Protection Regulation (GDPR).
  </p>
  <strong>Legal basis for processing any personal data</strong>
  <br />
  <p>
    To effectively be able to inform visitors with regards to Rishabhsoft’s
    services, their capabilities, to showcase their previous projects to their
    clients and to also respond to client inquiries.
  </p>
  <strong
    >Legitimate interests pursued by Rishabhsoft and/or its clients</strong
  >
  <br />
  <p>To provide Enterprise services and solutions provided by Rishabhsoft .</p>
  <strong>Sources of Personal Data</strong>
  <br />
  <p>
    Rishabhsoft collects personal data from various sources, including its
    clients HR feed. We also collect some personal data directly from
    individuals who contact us to request changes or updates to data in our
    databases.
  </p>
  <strong>How We Use the Information We Collect</strong>
  <br />
  <p>
    We do not process personal information in a way that is incompatible with
    the purposes for which it has been collected or subsequently authorized by
    you. We use the information we collect for things like:
  </p>
  <ul>
    <li>Fulfilling requests for products, services or information</li>
    <li>Marketing and advertising products and services</li>
    <li>Conducting research and analysis</li>
    <li>
      Identifying you on our Website and tailoring information and offers to you
      based on your interactions with our Website
    </li>
    <li>Operating, evaluating and improving our business</li>
  </ul>
  <strong>How We Share the Information We Collect</strong>
  <br />
  <p>
    Rishabhsoft does not sell, rent or trade your personal information to third
    parties as part of our normal business operations. In the normal course of
    business Rishabhsoft shares Personal Information with third parties to
    perform services on our behalf such as:
  </p>
  <ul>
    <li>Providing products, services, and information you requested</li>
    <li>Sending marketing communications</li>
    <li>Conducting research and analysis</li>
    <li>Preventing or mitigating fraud</li>
  </ul>
  <p>
    We may, for example, provide your information to agents, contractors or
    partners for hosting our databases, for data processing services or so that
    they can mail you the information that you requested.
  </p>
  <strong>Categories of Recipients</strong>
  <br />
  <p>
    Rishabhsoft may on occasions pass your Personal Information to third parties
    exclusively to process work on its behalf. To the extent that the GDPR is
    applicable such information, Rishabhsoft requires these parties to agree to
    process this information based on our instructions and requirements
    consistent with this Privacy Notice and GDPR. On receiving your explicit
    consent, we may also pass your information to our client under contractual
    obligation, to allow them to process the data as needed and as agreed with
    Rishabhsoft . We may also disclose your Personal Information to meet legal
    obligations, regulations or valid governmental request. Sometimes we may be
    required to share personal information in response to a regulation, court
    order or subpoena. We may also share information when we believe it’s
    necessary to comply with the law. We also may share information to respond
    to a government request or when we believe disclosure is necessary or
    appropriate to protect the rights, property or safety of Rishabhsoft, our
    customers, or others; to prevent harm or loss; or in connection with an
    investigation of suspected or actual unlawful activity. We may also share
    personal information in the event of a corporate sale, merger, acquisition,
    dissolution or similar event, in which case we will require any such buyer
    to agree to treat your information in accordance with this Privacy Policy.
  </p>
  <strong>Non-disclosure of Personal Information</strong>
  <br />
  <p>
    We will not sell, share, or otherwise distribute your Personal information
    to third parties except as provided in this Privacy Policy. We may disclose
    your Personal Data to our partners and affiliates that agree to treat it in
    accordance with this Privacy Policy. Personal Data may also be transferred
    to third parties who act for or on our behalf, for further processing in
    accordance with the purpose(s) for which the data were originally collected
    or may otherwise be lawfully processed.
  </p>
  <strong>Details of Data Storage</strong>
  <br />
  <p>
    Your personal data is stored on servers in USA. The data stored in USA data
    centres is accessed and processed by teams in India. The data stored in EU
    may be accessed and processed by teams in India and EU. We are storing the
    data in USA, EU with your explicit and voluntary consent. The storage of
    data is required for the performance of a contract between us and our
    clients who are based in the EU and USA. We transfer your personal data to
    our Associates in the EU, where the free exchange of personal data between
    member states is a fundamental part of the EU’s basic principles. Apart from
    this, we at Rishabhsoft have adopted and implemented adequate information
    system controls and rules as required by GDPR to ensure effective levels of
    data protection, in particular relating to transfers of personal information
    outside the EEA. Our website may have links to sites of our partners. Please
    read the privacy policies of partner websites as they may have different
    terms of use and privacy policies.
  </p>
</div>

<app-footer></app-footer>
