* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

#top {
  background-color: rgb(183, 183, 249);
  background-image: url("./../../../src/assets/pol.png"),
    linear-gradient(180deg, #1a3f98 0%, #092056 100%) !important;
  background-position: 125% 0%;
  background-size: auto 100%;
  padding: 9% 0 7%;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

.wpb_wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.vc_custom_heading {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.container p, .container ul, .container strong {
  margin-bottom: 1.5em;
}

.container ul {
  list-style: inside;
  padding-left: 20px;
}

.container strong {
  display: block;
  margin-top: 1em;
}

app-footer {
  display: block;
  width: 100%;
  padding: 20px 0;
  background: #092056;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
}

.b1 {
  background-color: red;
  position: absolute;
  left: 90%;
  top: 0;
  width: 250px;
  height: 250px;
  transform: rotate(30deg);
}
