<body class="mt-0">
  <section class="login-content">
    <div>
      <img src="../../assets/bg-sm.jpg" alt="Rishabh Software" />
    </div>
    <div class="login-content-lt"></div>
    <div class="login-content-rt">
      <div class="login-box">
        <form [formGroup]="loginForm" class="login-form" action="#">
          <div class="logo-wrapper">
            <img src="../../assets/logo.svg" alt="Rishabh Software" />
            <span>Meal Facility</span>
          </div>
          <h3 class="login-head">Forgot Password?</h3>
          <p class="login-text">Enter the email below to continue.</p>
          <div class="form-group">
            <label class="control-label">Email</label>
            <div class="input-addon">
              <input
                [(ngModel)]="restPasswordEmail"
                (ngModelChange)="checkValidEmail($event)"
                formControlName="Email"
                class="form-control"
                type="text"
                placeholder="Robert Smith"
                autofocus
              />
              <small *ngIf="!restPasswordEmail" class="text-danger"
                >*Email is Required</small
              >
              <small
                *ngIf="!isValidEmail && restPasswordEmail"
                class="text-danger"
                >*Email is invalid</small
              >
              <div class="icon-after icon-green">
                <i class="icon-check"></i>
              </div>
            </div>
          </div>
          <div class="form-group btn-container">
            <button (click)="confirmToSend()" class="btn btn-xl btn-primary">
              Send
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>
