<div class="view-container">
  <div class="view-form">
    <div class="view-header">
      <h1>View Booking</h1>
      <button (click)="closeForm()">&#10006;</button>
    </div>
    <div class="form-group">
      <p>Total Bookings for Selected Month: {{ bookingCount }}</p>
      <p>Total Bookings for All Months: {{ totalBookingCount }}</p>
      <mat-card>
        <mat-calendar
          #calendar
          [dateClass]="dateClass()"
          [selected]="selectedDate"
          (selectedChange)="onSelect($event)"
          (monthSelected)="onActiveDateChange($event)"
          (yearSelected)="onActiveDateChange($event)"
        ></mat-calendar>
      </mat-card>
    </div>
  </div>
</div>