<div class="footer" role="banner">
    <ul>
      <div
        class="list-items"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Copyright © 2024
        <a routerLink="/terms">Meal Facility.</a> All Rights
        Reserved.
      </div>
      <div class="social">
        <a href="https://www.facebook.com/rishabhsoft/" aria-label="Facebook"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://www.instagram.com/rishabhsoft/" aria-label="Instagram"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.linkedin.com/company/rishabh-software/?originalSubdomain=in" aria-label="Linkedin"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://x.com/RishabhSoft/status/1668596628112957440" aria-label="Twitter"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </ul>
  </div>
